<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="DandDWristStats.DandDWristStats" android:installLocation="auto">
	<uses-sdk />
	<uses-feature android:name="android.hardware.type.watch" />
	<application android:label="DandDWristStats" android:theme="@android:style/Theme.DeviceDefault" android:icon="@drawable/Icon"></application>
</manifest>